# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Environment variables
.env
app/.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/*
!uploads/.gitkeep

# Translations
translations/*
!translations/.gitkeep

# Fonts
app/static/fonts/*
!app/static/fonts/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db
